.cantainer {
}

.container_about_me {
    width: 75vh;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #f1effe;
}

.about_me_age {
    padding-bottom: 25px; 
    font-family: Inter;
    font-size: 14px;
    color: rgba(12, 13, 31, 0.5);
}

span {
    padding-left: 23px;
    padding-right: 23px;
}

.about_me_text {
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0c0d1f;
}

.title_about_me {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0c0d1f;
}

.plus_block {
    min-width: 25vh;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #f1effe;
    font-family: Inter;
    font-size: 12px;
    color: #0c0d1f;
}

.img_plus {
    padding-right: 5px;
}

.cancel_img{
    padding-left: 5px;
}
.cancel_block{
    width: 25vh;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #f1effe;
    font-family: Inter;
    font-size: 12px;
    color: #0c0d1f;
}

.goals {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    color: #0c0d1f;
}

.frustrations {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    color: #0c0d1f;
}
/* 
.wrapper {
    display: grid;
    grid-template-columns: 240px 500px;
    grid-template-rows: 200px;
    margin-top: 75px;
    grid-area: some-grid-area;
} */

.wrapper {
    margin-left: 82px;
    margin-top: 65px;
    display: grid;
    grid-template-columns: 250px   ;
    grid-template-rows: 230px ;
    grid-template-areas: 
        "omoriwo_img container_about_me"
        "second_block third_block ";
}

.container_about_me{
    grid-area: container_about_me ;
}

.second_block {
    grid-area: second_block ;
    margin-left: 250px;
    margin-top: 1px;
}

.third_block {
    grid-area: third_block;
    margin-left: 350px;
}

.omoriwo_img {
    grid-template-columns:20% 20% ;
    grid-area: omoriwo_img;
}